/*global*/
*{
    margin: 0;
}
body{
    font-family: arial;
}
p{
    line-height: 2;
}
img{
    max-width: 100%;
}
h2{
    line-height: 2;
}
h3{
    line-height: 2;
}
h1{
    line-height: 2
}
/*utilities*/
.btn-read{
    display: block;
    background-color: black;
    color: white;
    text-decoration: none;
    width: 100px;
    margin-bottom: 20px;
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 2px;
}
.btn-info{
    display: block;
    background-color: brown;
    color: white;
    text-decoration: none;
    width: 160px;
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 2px;
}
.btn-extra{
    display: inline-block;
    background-color: black;
    color: white;
    text-decoration: none;
    padding: 10px;
    text-align: center;
    font-size: 14px;
    letter-spacing: 2px;
    margin-bottom: 20px;
}

/*header*/




.site-header{
    background-image: url(img/banner.jpg);
    height: 300px;
    background-color: cover;
    color: white;
    text-align: center;
}
/*footer*/



.site-footer{
    background-color: black;
    color: white;
    text-align: center;
}